
.parallax {
    /* The image used */
    background-image: url("../img/logo_main.png");

    
    /* Create the parallax scrolling effect */
    background-position: center 20%; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index:-1;
}

.parallax-size{
    /* Set a specific height */
    min-height: 300px;
}

@media screen and (max-width:480px){
    .parallax-size{
        min-height: 200px;
        background-position: center 10%;
        background-size: 80%;
    }
}

.top-padding{
    padding-top: 50px;
}    

.box{
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.box-main-news, .box-side-news {
    border: solid 2px black;
    margin:10px;
}

.box-side-news h2{
    font-size: 20px;    
}

.box-side-news {
    font-size: 14px;    
}

article h2{
    margin: 10px;
    padding: 10px;
    border-bottom: solid 2px black;
}

.main-article-headline{
    
}


article p{
    margin: 10px;
    padding: 10px;
}
.main-image{
    padding: 10px;
}
.more-links{
    padding: 20px;
    border-bottom: solid 2px black;
}


footer p{    
    padding: 20px;
    margin-bottom: 0;
}

.navbar-main{
    background-color: darkmagenta;
}

#navbar{
    width: 100%;

/*    top: -75px;  Hide the navbar 50 px outside of the top view */
    transition: top 0.5s; /*Transition effects for navbar will take .3 of a second*/
    z-index: 1;
}